@model TimeTracker.Models.Class.ListaDeAccesos
<div class="content-wrapper" style="min-height: 956px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Control de Accesos
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-4">
                <!-- Horizontal Form -->
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Nuevo Acceso</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form class="form-horizontal" action="../Home/Accesos" method="post">
                        <input type="hidden" id="ModuloId" name="ModuloId" value="@Model.RolId" />
                        <input type="text" id="Modulos" name="Modulos" class="Modulos" />

                        <div class="box-body">
                            <div class="form-group">
                                <label for="Nombre" class="col-sm-2 control-label">Nombre</label>

                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="Nombre" name="Nombre" placeholder="Nombre" value="@Model.NombreRol" required="required">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <div class="checkbox">
                                        <label>
                                            @Html.CheckBoxFor(model => model.Activo) Activo
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    @foreach (var item in Model.LAccesos)
                                    {
                                        <div class="col">
                                            <input type="checkbox" id="@item.ModuloId" @item.Checked />@item.NombreDeModulo

                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <input type="reset" class="btn btn-default" value="Cancelar" id="reset" />
                            <button type="submit" class="btn btn-info pull-right">Guardar</button>
                        </div>
                        <!-- /.box-footer -->
                    </form>
                </div>
                <!-- /.box -->
            </div>
            <!--/.col (left) -->

            <div class="col-md-8">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Roles</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <th>Id</th>
                                    <th>Nombre</th>
                                    <th>Editar</th>
                                </tr>
                                @foreach (var item in Model.LRoles)
                                {
                                    <tr>
                                        <td>@item.RolId</td>
                                        <td>@item.Nombre</td>
                                        <td><a href="../Home/Accesos?rolId=@item.RolId" class="btn btn-outline-info">Editar</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
        <!-- /.row -->

    </section>
    <!-- /.content -->
</div>
<script src="../Content/jquery/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        document.getElementById("reset").addEventListener("click", () => {
            window.location = window.location.pathname;
        });

        var lista = [];

        $("input:checkbox").each(function () {
            if ($(this).is(":checked")) {
                lista.push($(this).attr("id"));
            }
        });
        console.log(lista);
        $(".Modulos").val(lista.toString());

        $(function () {
            $("input:checkbox").on("click", function () {
                $(".Modulos").val('');
                var lista = [];
                $("input:checkbox").each(function () {
                    if ($(this).is(":checked")) {
                        lista.push($(this).attr("id"));
                    }
                });
                $(".Modulos").val(lista.toString());

            });
            $("input:checkbox").on("change", function () {
                $(".Modulos").val('');
                var lista = [];
                $("input:checkbox").each(function () {
                    if ($(this).is(":checked")) {
                        lista.push($(this).attr("id"));
                    }
                });
                $(".Modulos").val(lista.toString());

            });
        });
    });

</script>
